  <launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find stl_planner)/maps/map.yaml"/>

  <!-- move_base -->
  <node pkg="stl_planner" name="line_planner_ros" type="line_planner_ros" output="screen">
  </node>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

</launch>
