<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find stl_planner)/fake_map/fake_map.yaml"/> 

  <!-- statically connect map and odom -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_connector" args="-0.5 -0.5 0 0 0 0 map odom 100" /> -->

  <!-- move_base -->
  <node pkg="stl_planner" name="pp_ros" type="pp_ros" output="screen">
    <rosparam command="load" file="$(find stl_planner)/config/stl_planner_config.yaml"/>
  </node>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
</launch>
